icarodatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "icarodatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LS__SQL_SalesDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS__SQL_SalesDB'"
		},
		"LS_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_databricks'"
		},
		"RestService2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService2'"
		},
		"clase5_ejemplo_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'clase5_ejemplo'"
		},
		"sql_dataset_look_up_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sql_dataset_look_up'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myicaroworkspace.dfs.core.windows.net/"
		},
		"LS__SQL_SalesDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"LS__SQL_SalesDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"LS__SQL_SalesDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pokeapi.co/api/v2/"
		},
		"RestService2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.bcra.gob.ar/centraldeudores/v1.0/Deudas/ChequesRechazados"
		},
		"RestService2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"clase5_ejemplo_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"clase5_ejemplo_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"clase5_ejemplo_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		},
		"sql_dataset_look_up_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mi-servidor-sql-bocha.database.windows.net"
		},
		"sql_dataset_look_up_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "miBaseDeDatos"
		},
		"sql_dataset_look_up_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usuarioazure"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/nombres_pokemons_variables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://pokeapi.co/api/v2/pokemon/ditto"
						}
					},
					{
						"name": "nombre_ditto",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "nombres",
							"value": {
								"value": "@activity('Web1').output.forms[0].name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "moves_ditto",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "movimiento",
							"value": {
								"value": "@activity('Web1').output.moves[0].move.name",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"nombres": {
						"type": "String"
					},
					"movimiento": {
						"type": "String"
					}
				},
				"folder": {
					"name": "pokemon_ejercicio"
				},
				"annotations": [],
				"lastPublishTime": "2025-05-31T18:40:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wait60seg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait120",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "triggers_prueba"
				},
				"annotations": [],
				"lastPublishTime": "2025-05-31T18:20:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS__SQL_SalesDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS__SQL_SalesDB_properties_typeProperties_server')]",
					"database": "[parameters('LS__SQL_SalesDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS__SQL_SalesDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS__SQL_SalesDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2350102757370114.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_databricks_accessToken')]"
					},
					"newClusterNodeType": "Standard_E4d_v4",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "16.4.x-cpu-ml-photon-scala2.13",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LS_Rest_PokeAPI",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestService2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clase5_ejemplo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('clase5_ejemplo_properties_typeProperties_server')]",
					"database": "[parameters('clase5_ejemplo_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('clase5_ejemplo_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('clase5_ejemplo_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dataset_look_up')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('sql_dataset_look_up_properties_typeProperties_server')]",
					"database": "[parameters('sql_dataset_look_up_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('sql_dataset_look_up_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sql_dataset_look_up_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_GET_CHARIZARD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "pokemons datasets"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "pokemon/charizard"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "clase5_ejemplo",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ejercicioBikes"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "web-scraper-order",
						"type": "varchar"
					},
					{
						"name": "web-scraper-start-url",
						"type": "varchar"
					},
					{
						"name": "Links",
						"type": "varchar"
					},
					{
						"name": "Links-href",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Engine",
						"type": "varchar"
					},
					{
						"name": "Mileage",
						"type": "varchar"
					},
					{
						"name": "Transmission",
						"type": "varchar"
					},
					{
						"name": "Fuel Tank Capacity",
						"type": "varchar"
					},
					{
						"name": "Weight",
						"type": "varchar"
					},
					{
						"name": "Seat Height",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Clase5_demo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/clase5_ejemplo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_product_query_count')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS__SQL_SalesDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_SQL_product_table"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS__SQL_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_products_insert')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS__SQL_SalesDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_SQL_product_table"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS__SQL_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_product_query')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS__SQL_SalesDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DS_list_of_products"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS__SQL_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "TasasDeInteres",
						"fileSystem": "tasasinteres"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "indice_tiempo",
						"type": "String"
					},
					{
						"name": "tasas_interes_cajas_ahorro",
						"type": "String"
					},
					{
						"name": "tasas_interes_plazo_fijo_30_59_dias",
						"type": "String"
					},
					{
						"name": "tasas_interes_plazo_fijo_mas_60_dias",
						"type": "String"
					},
					{
						"name": "tasas_interes_call",
						"type": "String"
					},
					{
						"name": "tasas_interes_prime",
						"type": "String"
					},
					{
						"name": "tasas_interes_adelantos_cc",
						"type": "String"
					},
					{
						"name": "tasas_interes_badlar",
						"type": "String"
					},
					{
						"name": "instr_bcra_pases_pesos_pasivos_1_dia",
						"type": "String"
					},
					{
						"name": "instr_bcra_pases_pesos_pasivos_7_dias",
						"type": "String"
					},
					{
						"name": "instr_bcra_pases_pesos_activos_1_dias",
						"type": "String"
					},
					{
						"name": "instr_bcra_pases_pesos_activos_7_dias",
						"type": "String"
					},
					{
						"name": "instr_bcra_tasa_politica_monetaria",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_1_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_2_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_3_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_4_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_5_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_6_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_7_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_8_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_9_m",
						"type": "String"
					},
					{
						"name": "instr_bcra_lebac_pesos_10_m",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_adelantos",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_documentos",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_hipotecarios",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_prendarios",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_personales",
						"type": "String"
					},
					{
						"name": "tasas_interes_activas_tarjetas",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "lookup_pokemons",
						"container": "pokemons"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pokemon_10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Clase_6"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "pokemon?limit=10"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "pokemons datasets"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "pokemon?limit=10&offset=0"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/charizard_JSON_to_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "pokemons datasets"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "data_231d09f7-9dd0-4381-a973-115af4552042_3fd29e47-b41b-4037-8b78-ff506dba7c8d.json",
						"folderPath": "JSON_pokemons/Charizard",
						"container": "pokemons"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"nombreHabilidad": {
							"type": "string"
						},
						"Nombre": {
							"type": "string"
						},
						"UrlNombre": {
							"type": "string"
						},
						"Altura": {
							"type": "integer"
						},
						"NombreMovimiento": {
							"type": "string"
						},
						"NombreTipo": {
							"type": "string"
						},
						"Peso": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		}
	]
}